/* CAROUSEL */

.carousel-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  overflow: hidden;
}

.carousel li {
  list-style: none;
  position: relative;
  width: 100%;
}

.carouselIMG {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-out;
}

.carousel li:hover .carouselIMG {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: 1000;
}

.album-title {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
