.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza del contenitore */
    background-color: #ffffff;
}

/* Stile per il paragrafo elegante */
.elegant-paragraph {
    font-family: 'Playfair Display', serif; /* Font elegante */
    font-size: 34px;
    color: #333;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}