/* CONTAINER */
.container-album {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-a {
  max-width: 12800px;
  max-height: 12800px;
  margin-top: 20vh;
  width: 40vh;
  margin-left: 40%;
}

.container-a h2 {
  margin-top: 0;
}

.container-a input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

/* ALBUM */
#albumContainer {
  margin-top: -10vh;
  margin-bottom: 20vh;
  margin-left: 0;
}

.album-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

#albumsList {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 300px;

  display: grid;
  column-gap: 2vh;
  row-gap: 60vh;
  padding: 10px;
  margin-bottom: 160vh;
}

#albumsList ul li {
  list-style: none;
  display: block;
}

#albumsList img {
  width: 5vh;
  transition: width 0.3s;
}

#albumsList img:hover {
  width: 50vh;
}

#albumsList div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  /* width: 600px; */
  height: 80vh;
  text-align: center;
  padding-bottom: 10vh;
}

.message {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}
